{
	"base":{
		"redisHost": null,
		"redisPass": null,
		"redisStorageKey": null,
		"discordAuthKey": null
	},
	"meetup": {
		"clientId": null,
		"clientSecret": null,
		"refreshToken": null
	},
	"spotify": {
		"clientId": null
		"clientSecret": null
	},
	"snowflakes": {
		"server": 0,
		"ch_intro": 0,
		"ch_console": 0,
		"ch_log": 0,
		"ch_general": 0,
		"ch_music": 0,
		"ch_meetup": 0,
		"ch_admin": 0,
		"r_admin": 0,
		"r_mod": 0,
		"r_verified": 0,
		"r_meetupver": 0,
		"r_newacc": 0,
		"m_bot": 0,
		"cat_general": 0,
		"cat_topics": 0,
		"cat_genres": 0
	}	
}